<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IntelliToggle Home</title>
    <link href="/public/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
<div class="flex items-center justify-center h-screen">
    <h1 class="text-5xl font-bold text-blue-600">Welcome to IntelliToggle!</h1>
</div>
</body>
</html>

